<!-- Account Header -->
{% with request.resolver_match.url_name as url_name %}
<div class="pt-[64px] mb-4">
    <div class="mx-auto w-full max-w-screen-lg md:bg-secondaryHoverDarker pt-8 md:px-0">
        <div class="max-w-screen-md mx-auto flex flex-col justify-between h-full min-h-full">
            <div class="flex flex-row items-end h-[50%] mb-6 px-2 md:px-0">
                <!-- Profile picture -->
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img class="rounded-full  max-w-[100px] max-h-[100px] w-[100px] h-[100px]"
                    src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="user photo">
                {% else %}
                <img class="rounded-full  max-w-[100px] max-h-[100px] w-[100px] h-[100px]"
                    src="{{ MEDIA_URL }}default_profile_pic.jpg" alt="user photo">
                {% endif %}
                <h2 class="font-barlow text-white font-semibold text-2xl ml-4 pb-4">{{ user.first_name|title }} {{ user.last_name|title }}</h2>
            </div>
            <!-- Navbar -->
            <div class="h-[50%] pb-2 pt-2 bg-secondaryHoverDarker">
                <div class="flex flex-row justify-around items-center text-lg font-barlow font-semibold">
                    <a href="{% url 'account' %}" class="hover:border-white hover:text-white cursor-pointer  border-t-4 px-2 {% if url_name == 'account' %}md:border-white border-transparent text-white{% else %}border-secondaryHoverDarker{% endif %}">
                        ACCOUNT
                    </a>
                    <a href="{% url 'my_orders' %}" class="hover:border-white hover:text-white cursor-pointer  border-t-4 px-2 {% if url_name == 'my_orders' %}md:border-white border-transparent text-white{% else %}border-secondaryHoverDarker{% endif %}">
                        ORDERS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}