{% extends 'base.html' %}
{% load static %}
{% block page_title %} Order | CheckMalt {% endblock page_title %}
{% block content %}

{% csrf_token %}

{% include 'profiles/header.html' %}

<!-- Main container -->
<div class="max-w-screen-lg mx-auto w-full md:mt-12 mb-12 flex md:flex-row flex-col min-h-[100vh]">
    <h1 class="text-white font-barlow font-bold text-4xl">COMING SOON...</h1>
</div>

{% endblock content %}

{% block extrajs %}
    <script src="{% static 'dist/order.bundle.js.gz' %}"></script>
{% endblock extrajs %}