{% extends 'base.html' %}
{% load static %}
{% block page_title %} Order | CheckMalt {% endblock page_title %}
{% block content %}

{% csrf_token %}

{% include 'profiles/header.html' %}

<!-- Main container -->
<div class="max-w-screen-lg mx-auto w-full md:mt-12 mb-12 min-h-[100vh] px-2 md:px-0">
    <!-- Orders header -->
    <div class="md:max-w-[70%]">
        <h1 class="text-primaryColor font-barlow font-semibold text-3xl mb-4">My Orders</h1>
        <p class="text-primaryColor font-barlow font-normal text-lg">
            Check your past orders here, click on the order to have see the full order.
        </p>
    </div>
    <!-- Orders table -->
    <div class="mt-8 font-barlow">
        <table class="w-full text-lg text-left px-2 text-primaryColor">
            <thead class="text-base text-secondaryHoverDarker uppercase border-b-2 border-secondaryHoverDarker">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Order ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Full order
                    </th>
                </tr>
            </thead>
            <!-- Orders -->
            <tbody>
                {% for order in orders %}
                    <tr class="border-b-2 border-secondaryHoverDarker">
                        <th scope="row" class="px-6 py-4 font-medium text-primaryColor whitespace-nowrap">{{order.date}}</th>
                        <td class="px-6 py-4">#{{order.id}}</td>
                        <td class="px-6 py-4">£{{order.grand_total}}</td>
                        <td class="px-6 py-4">
                            <button data-td-order class="bg-secondaryHoverDarker hover:bg-secondaryColor cursor-pointer px-2 py-0 rounded">View <i class="fa-solid fa-angle-down ml-2"></i></button>
                        </td>
                    </tr>
                    <!-- Dropdown for order's details -->
                    <tr class="hidden border-b-2 border-secondaryHoverDarker">
                        <td colspan=100% class="px-2">
                            <div class="w-full flex flex-row justify-between gap-12">
                                <!-- line items -->
                                <div class="w-[40%] max-w-[350px]">
                                    {% for item in order.lineitems.all %}
                                        <div class="w-full p-2 mr-auto bg-black text-primaryColor">
                                            <!-- Item qty + item title & item subtotal -->
                                            <div class="flex flex-row md:justify-start justify-between font-barlow font-normal md:text-sm text-lg w-full items-center">
                                                <span class="mr-2 max-w-[70%]">{{ item.quantity }}x <span class="font-normal">{{ item.cocktail.friendly_name|upper }} {% if item.cocktail_size %}({{ item.cocktail_size }}){% endif %}</span></span>
                                                <span class="ml-auto">£{{ item.lineitem_total|floatformat:2 }}</span>
                                            </div>
                                            <div>
                                                {% if item.note %}
                                                    <p class="text-sm text-gray-400 font-barlow font-normal mb-1 max-w-[70%]">Note: "{{ item.note }}"</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- total, subtotal & tips -->
                                <div class="w-[25%] bg-contrastColor border-x-2 border-white px-4">
                                    <div class="flex flex-row items-center justify-between px-2 pt-2 font-barlow font-normal md:text-base text-3xl text-primaryColor pb-2">
                                        <p>Subtotal:</p>
                                        <p id="subtotal">£{{ order.subtotal|floatformat:2 }}</p>
                                    </div>
                                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-3xl text-primaryColor pb-2">
                                        <p>Tips:</p>
                                        <p id="tips">£{{ order.serivce_amount|floatformat:2 }}</p>
                                    </div>
                                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-3xl text-primaryColor pb-2">
                                        <p>Total:</p>
                                        <p id="grandTotal">£{{ order.grand_total|floatformat:2 }}</p>
                                    </div>
                                </div>
                                <!-- payment info -->
                                <div class="w-[34%] bg-contrastColor">
                                    <p class="text-white">TODO: payment info</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extrajs %}

<script src="{% static 'dist/profiles.bundle.js.gz' %}"></script>
    
{% endblock extrajs %}