{% extends 'base.html' %}
{% load static %}
{% block page_title %} Order | CheckMalt {% endblock page_title %}
{% block content %}

{% csrf_token %}

{% include 'profiles/header.html' %}

<!-- Main container -->
<div class="max-w-screen-lg mx-auto w-full md:mt-12 mb-12 min-h-[100vh] md:px-0">
    <!-- Orders header -->
    <div class="md:max-w-[70%] px-2 md:px-0">
        <h1 class="text-primaryColor font-barlow font-semibold text-3xl mb-4">My Orders</h1>
        <p class="text-primaryColor font-barlow font-normal text-lg">
            Check your past orders here, click on the order to have see the full order.
        </p>
    </div>
    <!-- Orders table -->
    <div class="mt-8 font-barlow">
        <table class="w-full text-lg text-left px-2 text-primaryColor">
            <thead class="text-base text-secondaryHoverDarker uppercase border-b-2 border-secondaryHoverDarker">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3 hidden md:table-cell">
                        Order ID
                    </th>
                    <th scope="col" class="px-6 py-3 hidden md:table-cell">
                        Total
                    </th>
                    <th scope="col" class="md:px-6 py-3">
                    </th>
                </tr>
            </thead>
            <!-- Orders -->
            <tbody>
                {% for order in orders %}
                    <tr class="border-b-2 border-secondaryHoverDarker">
                        <th scope="row" class="md:px-6 px-2 py-4 font-medium text-primaryColor whitespace-nowrap">{{order.date}}</th>
                        <td class="px-6 py-4 hidden md:block">#{{order.id}}</td>
                        {% if order.is_paid %}
                            <td class="px-6 py-4 hidden md:table-cell">£{{order.grand_total}}</td>
                        {% else %}
                            <td class="px-6 py-4 hidden md:table-cell">£0</td>
                        {% endif %}
                        <td class="md:px-6 px-2 py-4">
                            <button data-td-order class="cursor-pointer hover:text-secondaryColor">View <i class="fa-solid fa-angle-down ml-2"></i></button>
                        </td>
                    </tr>
                    <!-- Dropdown for order's details -->
                    <tr class="hidden border-b-2 border-secondaryHoverDarker">
                        <td colspan=100% class="md:px-2">
                            <div class="w-full flex flex-col md:flex-row md:justify-between md:gap-12 gap-4">
                                <!-- line items -->
                                <div class="w-full flex flex-col justify-between md:w-[40%] md:max-w-[350px] border-b-2 md:border-0 border-white pb-4">
                                    {% for item in order.lineitems.all %}
                                        <div class="w-full p-2 mr-auto bg-black text-primaryColor">
                                            <!-- Item qty + item title & item subtotal -->
                                            <div class="flex flex-row md:justify-start justify-between font-barlow font-normal md:text-sm text-lg w-full items-center">
                                                <span class="mr-2 max-w-[70%]">{{ item.quantity }}x <span class="font-normal">{{ item.cocktail.friendly_name|title }} {% if item.cocktail_size %}({{ item.cocktail_size }}){% endif %}</span></span>
                                                <span class="ml-auto">£{{ item.lineitem_total|floatformat:2 }}</span>
                                            </div>
                                            <div>
                                                {% if item.note %}
                                                    <p class="text-sm text-gray-400 font-barlow font-normal mb-1 max-w-[70%]">Note: "{{ item.note }}"</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="text-right">
                                        <a href="{% url 'order_again' order_id=order.id %}" class="text-sm px-2 py-1 rounded bg-secondaryHoverDarker font-barlow font-medium hover:bg-secondaryColor">Order Again</a>
                                    </div>
                                </div>
                                <!-- total, subtotal & tips -->
                                <div class="w-full md:w-[25%] bg-contrastColor md:border-x-2 border-white md:px-4">
                                    <div class="flex flex-row items-center justify-between px-2 pt-2 font-barlow font-normal md:text-base text-lg text-primaryColor pb-2">
                                        <p>Subtotal:</p>
                                        <p id="subtotal">£{{ order.subtotal|floatformat:2 }}</p>
                                    </div>
                                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-lg text-primaryColor pb-2">
                                        <p>Tips:</p>
                                        <p id="tips">£{{ order.serivce_amount|floatformat:2 }}</p>
                                    </div>
                                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-lg text-primaryColor pb-2">
                                        <p>Total:</p>
                                        <p id="grandTotal">£{{ order.grand_total|floatformat:2 }}</p>
                                    </div>
                                </div>
                                <!-- payment info -->
                                <div class="w-full md:w-[34%] bg-contrastColor border-t-2 md:border-0 border-white px-2">
                                    {% for payment in order.payment.all %}
                                        <div class="font-barlow font-medium text-base py-2 text-white flex flex-row md:flex-col justify-between md:justify-start">
                                            <div class="flex flex-row items-center gap-4">
                                                <span class="">
                                                    {{payment.card_brand|upper }}
                                                </span>
                                                {% if payment.card_brand == 'visa' %}
                                                    <img src="https://js.stripe.com/v3/fingerprinted/img/visa-729c05c240c4bdb47b03ac81d9945bfe.svg" alt="visa logo">
                                                {% elif payment.card_brand == 'mastercard' %}
                                                    <img src="https://js.stripe.com/v3/fingerprinted/img/mastercard-4d8844094130711885b5e41b28c9848f.svg" alt="visa logo">
                                                {% endif %}
                                            </div>
                                            <div class="flex flex-row gap-8 items-center mt-2">
                                                <div>
                                                    <p>Card End.</p>
                                                    <p class="font-normal text-base text-gray-300">{{payment.card_last4}}</p>
                                                </div>
                                                <div>
                                                    <p>Card Exp.</p>
                                                    <p class="font-normal text-base text-gray-300">{{payment.card_exp_month}}/{{payment.card_exp_year}}</p>
                                                </div>
                                            </div>
                                            {% if payment.paid %}
                                            {% else %}
                                                <p class="text-white text-base font-barlow">
                                                    Payment declined! Please contact us if you were charged.
                                                </p>
                                            {% endif %}
                                            
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extrajs %}

<script src="{% static 'dist/profiles.bundle.js.gz' %}"></script>
    
{% endblock extrajs %}