{% extends 'base.html' %}
{% load static %}
{% block page_title %} Order | CheckMalt {% endblock page_title %}
{% block content %}

{% csrf_token %}

{% include 'profiles/header.html' %}

<!-- Main container -->
<div class="max-w-screen-lg mx-auto w-full md:mt-12 mb-12 min-h-[100vh] px-2 md:px-0">
    <div class="md:max-w-[70%]">
        <h1 class="text-primaryColor font-barlow font-semibold text-3xl mb-4" >My Orders</h1>
        <p class="text-primaryColor font-barlow font-normal text-lg">
            Check your past orders here, click on the order to have see the full order.
        </p>
    </div>
    <div class="mt-8 font-barlow">
        <table class="w-full text-lg text-left px-2 text-primaryColor">
            <thead class="text-base text-secondaryHoverDarker uppercase border-b-2 border-secondaryColor">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Order ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Full order
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-primaryColor whitespace-nowrap">
                            {{order.date}}
                        </th>
                        <td class="px-6 py-4">
                            #{{order.id}}
                        </td>
                        <td class="px-6 py-4">
                            £{{order.grand_total}}
                        </td>
                        <td class="px-6 py-4">
                            <button class="bg-secondaryHoverDarker hover:bg-secondaryColor cursor-pointer px-2 py-0 rounded">View <i class="fa-solid fa-angle-down ml-2"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <div>
                            
                        </div>
                    </tr>
                {% endfor %}





                <tr class="border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-primaryColor whitespace-nowrap">
                        Feb 22, 2022
                    </th>
                    <td class="px-6 py-4">
                        #74
                    </td>
                    <td class="px-6 py-4">
                        £47.50
                    </td>
                    <td class="px-6 py-4">
                        <button class="bg-secondaryHoverDarker hover:bg-secondaryColor cursor-pointer px-2 py-0 rounded">View <i class="fa-solid fa-angle-down ml-2"></i></button>
                    </td>
                </tr>
                <tr class="px-6 py-4 font-medium text-primaryColor whitespace-nowrap">
                    <div class="w-full bg-red-500">
                        <div></div>
                    </div>
                </tr>
                <tr class="border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-primaryColor whitespace-nowrap">
                        May 05, 2022
                    </th>
                    <td class="px-6 py-4">
                        #144
                    </td>
                    <td class="px-6 py-4">
                        £16.40
                    </td>
                </tr>
                <tr class="">
                    <th scope="row" class="px-6 py-4 font-medium text-primaryColor whitespace-nowrap">
                        May 12, 2022
                    </th>
                    <td class="px-6 py-4">
                        #1768
                    </td>
                    <td class="px-6 py-4">
                        £68.20
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
    
{% endblock extrajs %}