{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main container -->
    <div class="md:min-h-[100vh] md:mb-20 mx-2">
        <!-- Checkout header -->
        {% include 'checkout/checkout.html' %}

        <div class="max-w-screen-lg mx-auto w-full flex md:flex-row flex-col md:justify-between pb-8">
            <div class="md:w-[30%] pt-4 flex flex-row md:flex-col justify-around md:justify-start">
                <div class="text-white font-barlow text-center border-2 border-secondaryHoverDarker rounded py-8 px-4 text-3xl font-medium">
                    <h3>ORDER ID:</h3>
                    <span>#{{ order.id }}</span>
                </div>
                <div class="text-white font-barlow text-center border-2 border-secondaryHoverDarker rounded py-8 px-4 text-3xl font-medium md:mt-4">
                    <img src="{% static 'media/loader_2.gif' %}" alt="loader" class="max-w-[80px] mx-auto" id="prepTimeLoader">
                    <div class="hidden" id="prepTimeData">
                        <h3>READY IN:</h3>
                        <p id="prepTimeTxt">???</p>
                    </div>
                </div>
            </div>
            <div class="md:w-[68%] w-full mt-8 md:pl-4 flex flex-col">
                <h2 class="font-medium font-barlow text-primaryColor text-3xl mb-4">We've got your order <i class="fa-solid fa-champagne-glasses text-secondaryHoverDarker"></i></h2>
                <p class="font-medium font-barlow text-primaryColor text-lg mb-8">
                    We've sent you an confirmation email. You will receive a SMS when 
                    your order is ready to picked up. 
                    If you are seatted at a table, we will come to you with your order.
                </p>
                <div class="flex md:flex-row flex-col gap-4 justify-around items-center">
                    <a href="{% url 'order' %}" class="font-barlow transition-all text-secondaryHoverDarker text-2xl font-semibold border-2 rounded border-secondaryHoverDarker px-4 py-2 hover:bg-secondaryHoverDarker hover:text-white">NEW ORDER</a>
                    <a href="{% url 'match' %}" class="font-barlow bg-secondaryHoverDarker text-contrastColor text-2xl font-semibold px-4 py-2 rounded border-2 border-secondaryHoverDarker hover:border-secondaryColor hover:bg-secondaryColor hover:text-white">COCKTAILS MATCH</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'dist/checkout_detail.bundle.js.gz' %}"></script>
    <script src="{% static 'dist/checkout_confirmation.bundle.js.gz' %}"></script>
{% endblock %}