{% extends 'base.html' %}
{% load static %}




{% block content %}
    <div class="md:min-h-[100vh] md:mb-20 mx-2">
        {% include 'checkout/checkout.html' %}
        <div class="max-w-screen-lg mx-auto w-full flex flex-row justify-between pb-8">
            <!-- Basket Container -->
            <div class="w-[30%] pt-4 border-r-2 border-secondaryHoverDarker hidden md:block">
                <div class="md:max-h-[350px] md:min-h-[200px] overflow-auto" id="basket_container">
                    <!-- Each item in basket -->
                    {% for item in basket_items %}
                        <div class="w-full p-2 mr-auto bg-black text-primaryColor">
                            <!-- Item qty + item title & item subtotal -->
                            <div class="flex flex-row md:justify-start justify-between font-barlow font-normal md:text-base text-xl w-full items-center">
                                <span class="mr-2 max-w-[70%]">{{ item.quantity }}x <span class="font-normal">{{ item.cocktail.friendly_name|upper }} {% if item.size %}({{ item.size }}){% endif %}</span></span>
                                <span class="ml-auto">£{{ item.sub_total|floatformat:2 }}</span>
                            </div>
                            <!-- Item note -->
                            <div>
                                {% if item.note %}
                                    <p class="text-sm text-gray-400 font-barlow font-normal mb-1 max-w-[70%]">Note: "{{ item.note }}"</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr class="border-secondaryHoverDarker border-0 border-b-2 w-full mx-auto">
                <!-- Subtotal, Tips & Grand Total -->
                <div class="w-full bg-contrastColor">
                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-3xl text-primaryColor pt-4 pb-2">
                        <p>Subtotal</p>
                        <p id="subtotal">£{{ total|floatformat:2 }}</p>
                    </div>
                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-3xl text-primaryColor pb-2">
                        <p>Tips</p>
                        <p id="subtotal">£{{ tips|floatformat:2 }}</p>
                    </div>
                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-3xl text-primaryColor pb-2">
                        <p>Total</p>
                        <p id="subtotal">£{{ grandTotal|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            <div class="md:w-[68%] w-full mt-8 md:pl-4 flex flex-col justify-between gap-10">
                <div class="md:hidden">
                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-xl text-primaryColor pt-2 pb-1">
                        <p>Subtotal</p>
                        <p id="subtotal">£{{ total|floatformat:2 }}</p>
                    </div>
                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-xl text-primaryColor pb-1">
                        <p>Tips</p>
                        <p id="subtotal">£{{ tips|floatformat:2 }}</p>
                    </div>
                    <div class="flex flex-row items-center justify-between px-2 font-barlow font-normal md:text-base text-xl text-primaryColor pb-1">
                        <p>Total</p>
                        <p id="subtotal">£{{ grandTotal|floatformat:2 }}</p>
                    </div>
                </div>
                <hr class="border-secondaryHoverDarker border-0 border-b-2 w-full mx-auto md:hidden">
                <h2 class="font-medium font-barlow text-primaryColor text-3xl hidden md:block">Total: £{{ grandTotal|floatformat:2 }}</h2>
                <!-- Payment form -->
                <form id="payment-form" class="w-full mb-20 md:mb-0">
                    <div id="paymentLoader">
                        <img src="{% static 'media/loader.gif' %}" alt="loader" class="w-full">
                    </div>
                    <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                    </div>
                    <div id="payment-message" class="hidden"></div>
                </form>
                <!-- Back and submit button -->
                <div class="flex flex-row justify-between items-center w-full self-end pb-4">
                    <a href="{% url 'checkout_1' %}" class="text-white hidden md:block  max-w-[45%] bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-lg w-full py-2.5 text-center"><i class="fa-solid fa-angle-left mr-1"></i> BACK TO DETAILS</a>
                    <button id="submitPayment" type="submit" form="payment-form" class="max-w-[45%] w-full hidden md:block">
                        <div class="spinner" id="spinner"></div>
                        <span id="button-text" class="text-white block bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-lg w-full py-2.5 text-center">PAY NOW <i class="fa-solid fa-angle-right ml-1"></i></span>
                    </button>
                </div>
            </div> 
        </div>
    </div>

    <!-- Back and submit button on small devices -->
    {% with request.resolver_match.url_name as url_name %}
        {% if url_name == 'checkout_2' %}
            {% if basket_items %}
                {% if product_count and product_count > 0 %}
                    <div class="md:hidden fixed bottom-0 left-0 w-full max-w-[100vw] h-[70px] bg-secondaryColor z-50">
                        <div class="flex flex-row justify-around items-center h-full text-primaryColor font-barlow text-2xl">
                            <div class="font-semibold text-center bg-secondaryHoverDarker p-2 rounded">
                                <a href="{% url 'checkout_1' %}"><i class="fa-solid fa-angle-left mr-1"></i> BACK</a>
                            </div>
                            <button class="text-center font-bold" id="submitPaymentMobile" type="submit" form="payment-form">
                                <div class="spinner hidden" id="spinnerMobile"></div>
                                <span id="button-text-mobile">PAY NOW <i class="fa-solid fa-angle-right ml-1"></i></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endwith %}

{% endblock content %}

{% block extrajs %}
    <script src="{% static 'dist/stripe.bundle.js.gz' %}"></script>
{% endblock %}