{% extends 'base.html' %}
{% load static %}
{% block page_title %} Basket | CheckMalt {% endblock page_title %}

{% block content %}

{% include 'order/includes/item_modal.html' %}

<!-- Alert modal if bar is closed -->
<div class="pt-[70px]">
    {% if not open %}
        <div class="max-w-screen-md mx-auto w-full bg-red-300 py-4 md:rounded-md fixed top-[70px] left-[50%] translate-x-[-50%]">
            <p class="text-red-900 font-barlow text-lg text-center font-medium">
                Oups! We are not taking orders at the moment.
            </p>
        </div>
    {% endif %}
</div>

<!-- Container -->
<div class="max-w-screen-md mx-auto mt-12 mb-24">
    <!-- Basket header -->
    <div class="w-full px-2 md:px-0">
        <h1 class="text-secondaryColor font-barlow font-bold text-4xl text-left">YOUR BASKET</h1>
    </div>
    <!-- Basket container -->
    <div class="flex flex-row justify-around mt-8">
        <div class="max-w-[450px] min-h-[500px] w-full px-2 border-2 border-secondaryHoverDarker rounded-sm py-2">
            {% if basket_items %}
                <!-- Each item in basket -->
                {% for item in basket_items %}
                    <div class="w-full p-2 mr-auto bg-black text-primaryColor">
                        <div class="flex flex-row md:justify-start justify-between font-barlow font-normal text-lg w-full items-center">
                            <span class="mr-2 max-w-[70%]">{{ item.quantity }}x <span class="font-medium">{{ item.cocktail.friendly_name|title }} {% if item.size %}({{ item.size }}){% endif %}</span></span>
                            <span class="ml-auto">£{{ item.sub_total|floatformat:2 }}</span>
                        </div>
                        <div>
                            {% if item.note %}
                                <p class="text-sm text-gray-400 font-barlow font-normal mb-1 max-w-[70%]">Note: "{{ item.note }}"</p>
                            {% endif %}
                            <div class="ml-4 mt-1 text-base max-w-[70%]">
                                <button data-item data-item-id="{{ item.item_id }}" data-item-quantity="{{ item.quantity }}" {% if item.size %}data-item-size="{{ item.size }}"{% endif %} {% if item.note %}data-item-note="{{ item.note }}"{% endif %} class="text-center text-secondaryHoverDarker font-barlow font-medium hover:text-secondaryColor">Edit</button>
                                <form action="{% url 'remove_from_basket' item.item_id %}" method="POST" class="inline-block">
                                    {% csrf_token %}
                                    {% if item.size %}
                                        <input type="hidden" name="item_size" value="{{ item.size }}">
                                    {% endif %}
                                    {% if item.note %}
                                        <input type="hidden" name="item_note" value="{{ item.note }}">
                                    {% endif %}
                                        <input type="hidden" name="item_quantity" value="{{ item.quantity }}">
                                    <button type="submit" class="text-center text-red-800 font-barlow font-medium ml-8 hover:text-red-700">Remove</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="py-2 px-4 bg-secondaryColor h-fit rounded-lg">
            <p class="text-center bg-secondaryHoverDarker py-1 px-2 rounded-lg font-barlow font-medium text-lg">{{product_count}} items in basket</p>
            <p class="text-contrastColor font-barlow font-semibold text-xl">Total order: £{{ total }}</p>
            <div class="bg-primaryColor px-2 py-1 w-full rounded-lg flex flex-row justify-around items-center font-barlow font-semibold mt-4">
                <a href="" class="text-center">Check out</a>
                <i class="fa-regular fa-credit-card"></i>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'dist/basket.bundle.js.gz' %}"></script>

{% endblock content %}