@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--crsl-bg: transparent;
	--box-bg: #11161a;
	--box-shadow: #0000001c;
	--box-shadow-border: #0000000f;
	--box-border: #fff;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}



@layer components {

	.navbar-link {
		@apply block py-2 pr-4 pl-3 text-primaryColor hover:bg-secondaryHoverDarker md:hover:bg-transparent md:hover:text-secondaryColor md:p-0 text-center font-barlow font-semibold text-xl rounded-lg
	}

	.primary-btn {
		@apply text-secondaryColor hover:text-primaryColor border-4 border-secondaryColor bg-contrastColor hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-secondaryHoverLighter font-extrabold rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2 ease-linear duration-300
	}

	.secondary-btn {
		@apply text-contrastColor hover:text-primaryColor border-4 border-secondaryColor bg-secondaryColor hover:bg-secondaryHoverLighter hover:border-secondaryHoverLighter focus:ring-4 focus:outline-none focus:ring-secondaryHoverLighter font-extrabold rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2 ease-linear duration-300
	}

	.std-btn {
		@apply text-white block max-w-[350px] bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-lg w-full py-2.5 text-center
	}
}

.active-navbar-link {
	@apply block py-2 pr-4 pl-3 text-primaryColor md:text-secondaryColor md:p-0 text-center font-barlow font-semibold text-xl rounded-lg bg-secondaryHoverDarker md:bg-transparent
}

/********** FORMS COMPONENTS **********/
.primary-input {
	@apply bg-transparent border-0 border-b-2 border-primaryColor text-primaryColor text-sm focus:ring-0 focus:border-secondaryColor focus:border-b-2 focus:border-0 block w-full p-2.5
}

.primary-invalid-input {
	@apply bg-transparent border-0 border-b-2 border-red-700 text-red-400 text-sm focus:ring-0 focus:border-red-400 block w-full p-2.5
}

.primary-date-picker {
	@apply bg-transparent border-0 border-b-2 border-primaryColor text-primaryColor sm:text-sm focus:ring-0 focus:border-secondaryColor block w-full pl-10 p-2.5
}

.primary-select-input {
	@apply bg-contrastColor border-0 border-b-2 border-primaryColor text-primaryColor block w-full pl-10 p-2.5 focus:ring-0 focus:border-secondaryColor
}

.primary-invalid-select-input {
	@apply bg-contrastColor border-0 border-b-2 border-red-700 text-primaryColor block w-full pl-10 p-2.5 focus:ring-0 focus:border-red-400
}

.input-errors {
	@apply text-red-400 text-sm font-barlow font-light
}

.match-btn {
	@apply hover:text-black max-w-[200px] inline-block bg-transparent text-white border-2 border-white hover:bg-secondaryHoverDarker cursor-pointer font-medium hover:font-semibold rounded-sm text-lg w-full py-2.5 text-center
}

.match-active-btn {
	@apply hover:text-black max-w-[200px] inline-block bg-secondaryHoverDarker border-2 border-white hover:bg-secondaryHoverDarker cursor-pointer font-semibold rounded-sm text-lg w-full py-2.5 text-center
}


/* Forms Webkit */
.primary-input:-webkit-autofill,
.primary-input:-webkit-autofill:hover,
.primary-input:-webkit-autofill:focus,
.primary-input:-webkit-autofill:active,
.primary-invalid-input:-webkit-autofill,
.primary-invalid-input:-webkit-autofill:hover,
.primary-invalid-input:-webkit-autofill:focus,
.primary-invalid-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
	-webkit-text-fill-color: #fff !important;
}

.modal-bg {
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.login-with-google-btn {
	transition: background-color 0.3s, box-shadow 0.3s;
	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	color: #757575;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
  }
  .login-with-google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  .login-with-google-btn:active {
	background-color: #eeeeee;
  }
  .login-with-google-btn:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
  }

.login-form-input {
	border: solid 2px white;
	background: transparent;
}