/* The Modal (background) */
.item-modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* custom scrollbar on basket container */
#basket_container::-webkit-scrollbar {
  width: 20px;
}

#basket_container::-webkit-scrollbar-track {
  background-color: transparent;
}

#basket_container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

#basket_container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}