{% with request.resolver_match.url_name as url_name %}
    {% if url_name == 'order' or url_name == 'basket' %}
        {% if product_count and product_count > 0 %}
            <a href="{% url 'basket' %}" class="md:hidden fixed bottom-0 left-0 w-full max-w-[100vw] h-[70px] bg-secondaryColor">
                <div class="flex flex-row justify-around items-center h-full text-primaryColor font-barlow text-2xl">
                    <div class="font-semibold text-center bg-secondaryHoverDarker p-2 rounded-lg">
                        <span>{{ product_count }}</span>
                    </div>
                    <p class="text-center font-bold">View Basket</p>
                    <span class="text-center font-semibold text-2xl">£{{ total|floatformat }}</span>
                </div>
            </a>
        {% endif %}
    {% endif %}
{% endwith %}

<div class="w-full bg-secondaryColor py-6">
    <p class="text-contrastColor font-barlow font-medium text-center text-lg">© 2023 by Alex Nypels.</p>
</div>