{% load static %}

<nav class="bg-black border-gray-200 px-2 sm:px-4 py-2.5 rounded z-50 fixed w-full">
    {% with request.resolver_match.url_name as url_name %}
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <!-- Checkmalt logo -->
        <a href="{% url 'home' %}" class="flex items-center">
            <img src="{% static 'media/logo.png' %}"
                class="mr-3 first-line:sm:h-9 max-w-[40px] max-h-[40px] w-[40px] h-[40px]" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-primaryColor hidden lg:block">CheckMalt</span>
        </a>

        <div class="flex items-center md:order-2">
            {% if request.user.is_authenticated %}
                <!-- Icon user's dropdown menu -->
                <button type="button"
                    class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                    id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
                    <span class="sr-only">Open user menu</span>
                    <!-- Profile picture -->
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                    <img class="rounded-full  max-w-[40px] max-h-[40px] w-[40px] h-[40px]"
                        src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="user photo">
                    {% else %}
                    <img class="rounded-full  max-w-[40px] max-h-[40px] w-[40px] h-[40px]"
                        src="{{ MEDIA_URL }}default_profile_pic.jpg" alt="user photo">
                    {% endif %}
                </button>

                <!-- Dropdown user menu -->
                <div class="hidden z-50 my-4 text-base list-none bg-primaryColor rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    id="dropdown">
                    <!-- User's details -->
                    <div class="py-3 px-4 z-50">
                        <span class="block text-2xl text-gray-900 dark:text-primaryColor">{{ user.first_name }}</span>
                        <span
                            class="block text-2xl font-medium text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
                    </div>
                    <!-- User menu links -->
                    <ul class="py-2 z-50" aria-labelledby="dropdown">
                        <li>
                            <a href="{% url 'my_orders' %}"
                                class="navbar-link text-2xl py-2">My orders</a>
                        </li>
                        <li>
                            <a href="{% url 'my_cocktails' %}"
                                class="navbar-link text-2xl py-2">My cocktails</a>
                        </li>
                        <li>
                            <a href="{% url 'account' %}"
                                class="navbar-link text-2xl py-2">My account</a>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}"
                                class="navbar-link text-2xl py-2 text-red-700 hover:text-red-500">Sign
                                out <i class="fa-solid fa-arrow-right-from-bracket align-middle ml-2"></i></a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="hidden md:block">
                    <ul>
                        <a href="{% url 'account_login' %}" class="primary-btn border-2 px-2 py-1 text-lg font-medium font-barlow">SIGN IN <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </ul>
                </div>
            {% endif %}

            <!-- Burger menu icon -->
            <button data-collapse-toggle="mobile-menu-2" type="button"
                class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mobile-menu-2" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <!-- Navbar main links -->
        <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1 md:absolute md:left-[50%] md:translate-x-[-50%]" id="mobile-menu-2">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="{% url 'home' %}" class="{% if url_name == 'home' %}active-{% endif %}navbar-link" aria-current="page">HOME</a>
                </li>
                <li>
                    <a href="{% url 'menu' %}" class="{% if url_name == 'menu' %}active-{% endif %}navbar-link">MENU</a>
                </li>
                <li>
                    <a href="{% url 'order' %}" class="navbar-link">ORDER</a>
                </li>
                <li>
                    <a href="{% url 'match' %}" class="navbar-link">MATCH</a>
                </li>
                <li>
                    <a href="#" class="navbar-link">CONTACT</a>
                </li>
                {% if basket_items %}
                    <li class="hidden md:block">
                        <a href="{% url 'order' %}" class="navbar-link relative">
                            <i class="fa-solid fa-basket-shopping"></i>
                            <div class="absolute right-[-15px] bottom-[-15px] rounded-full bg-secondaryHoverDarker w-6 h-6 flex flex-row justify-center items-center">
                                <span class="text-white font-barlow text-lg">{{ product_count }}</span>
                            </div>
                        </a>
                    </li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <div class="md:hidden">
                    <hr class="border-secondaryColor">
                    <li>
                        <a href="#" class="navbar-link">SIGNIN <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </li>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endwith %}
</nav>