{% extends 'base.html' %}
{% load static %}
{% load match_tags %}

{% block page_title %} CheckMalt | Match {% endblock page_title %}


{% block content %}
    <div class="min-h-[100vh] md:mb-20 mx-2 mb-8">
        {% include 'match/header.html' %}
        <div class="max-w-screen-lg mx-auto w-full min-h-[300px]">
            <!-- Basket Container -->
            <div class="w-full">
                <!-- cocktail match form -->
                <form action="" method="POST" id="matchForm">
                    {% csrf_token %}
                    <div id="matchIntro" class="w-full mx-auto text-center min-h-[300px] flex flex-col justify-around">
                        <p class="font-medium font-barlow text-primaryColor text-lg block text-center">
                            To get the perfect match answer each question honneslty. <br>
                            When you are ready just press start and start answering all the questions. 
                        </p>
                        <button id="matchStartBtn" type="button" class="std-btn mx-auto">START <i class="fa-solid fa-angle-right ml-1"></i></button>
                    </div>
                    <!-- 1st match question -->
                    <div id="matchFirst" class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Cocktail, wine or beer? 
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-8">
                                <label for="cocktail" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="cocktail" id="cocktail" class="hidden"> COCKTAIL
                                </label>
                                <label for="wine" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="wine" id="wine" class="hidden"> WINE
                                </label>
                                <label for="beer" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="beer" id="beer" class="hidden"> BEER
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                    </div>

                    <!-- 2nd match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Dry or Sweet? 
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-12">
                                <label for="dry" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="dry" id="dry" class="hidden"> DRY
                                </label>
                                <label for="sweet" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="sweet" id="sweet" class="hidden"> SWEET
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 3rd match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Single or Double? 
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-12">
                                <label for="single" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="single" id="single" class="hidden"> SINGLE
                                </label>
                                <label for="double" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="double" id="double" class="hidden"> DOUBLE
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 4th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Party Hard or Party Calm? 
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-12">
                                <label for="hard" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="hard" id="hard" class="hidden"> HARD
                                </label>
                                <label for="calm" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="calm" id="calm" class="hidden"> CALM
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 5th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Why are you here today?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-12">
                                <label for="romanticDate" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="romantic" id="romanticDate" class="hidden"> ROMANTIC DATE
                                </label>
                                <label for="afterWork" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="after_work" id="afterWork" class="hidden"> AFTER WORK
                                </label>
                                <label for="party" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="party" id="party" class="hidden"> PARTY
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 6th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Vodka, Rum, Tequila or Gin ?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-8">
                                <label for="vodka" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="vodka" id="vodka" class="hidden"> VODKA
                                </label>
                                <label for="rum" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="rum" id="rum" class="hidden"> RUM
                                </label>
                                <label for="tequila" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="tequilla" id="tequila" class="hidden"> TEQUILLA
                                </label>
                                <label for="gin" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="gin" id="gin" class="hidden"> GIN
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 7th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                With or without alcohol?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-8">
                                <label for="with_alc" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="with_alc" id="with_alc" class="hidden"> WITH
                                </label>
                                <label for="without_alc" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="without_alc" id="without_alc" class="hidden"> WITHOUT
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 8th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Feezy or still ?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-8">
                                <label for="feezy" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="feezy" id="feezy" class="hidden"> FEEZY
                                </label>
                                <label for="still" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="still" id="still" class="hidden"> STILL
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>


                    <!-- 9th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Amaretto or whisky ?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-8">
                                <label for="amaretto" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="amaretto" id="amaretto" class="hidden"> AMARETTO
                                </label>
                                <label for="whisky" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="whisky" id="whisky" class="hidden"> WHISKY
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>


                    <!-- 10th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Red or white ?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-8">
                                <label for="red" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="red" id="red" class="hidden"> RED
                                </label>
                                <label for="white" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="white" id="white" class="hidden"> WHITE
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 11th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Are you working tomorrow?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-12">
                                <label for="workingYes" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="working_tomorrow" id="workingYes" class="hidden"> YES
                                </label>
                                <label for="workingNo" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="no_working_tomorrow" id="workingNo" class="hidden"> NO
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>

                    <!-- 12th match question -->
                    <div class="w-full mx-auto text-center min-h-[300px] hidden flex-col justify-between">
                        <div>
                            <p class="font-medium font-barlow text-primaryColor text-2xl mb-8">
                                Do you enjoy your time at CheckMalt?
                            </p>
                            <div class="mb-8 flex md:flex-row flex-col items-center justify-center gap-12">
                                <label for="enjoyYes" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="enjoy" id="enjoyYes" class="hidden"> YES
                                </label>
                                <label for="enjoyNo" class="match-btn">
                                    <input data-match-answer-btn type="checkbox" name="no_enjoy" id="enjoyNo" class="hidden"> NO
                                </label>
                            </div>
                            <span class="text-lg font-barlow font-medium text-red-600 mb-8 match-error hidden">You must select an answer.</span>
                        </div>
                        <div class="flex flex-row justify-between md:mt-0 mt-8">
                            <button data-match-back type="button" class="std-btn w-[45%]"><i class="fa-solid fa-angle-left ml-1"></i> BACK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}

{% block extrajs %}
    <script src="{% static 'dist/match.bundle.js.gz' %}"></script>
{% endblock %}