{% extends 'base.html' %}
{% load static %}

{% block page_title %} Index {% endblock page_title %}

{% block content %}

<div class="max-w-screen-md mx-auto h-[1200px] pt-[60px]">
    <h1 class="text-4xl text-white text-center mb-4">MENU ADMIN PAGE</h1>

    <form action="" id="recipeForm">
        {% csrf_token %}
        <select name="cocktail" id="cocktail" class="mb-4">
            {% for cocktail in cocktails %}
                <option value="{{ cocktail.id }}">{{ cocktail.name }} || {{ cocktail.category.name }}</option>
            {% endfor %}
        </select>
        <br>


        <select name="ingredient_1" id="ingredient_1" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_1" id="quantity_1" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_2" id="ingredient_2" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_2" id="quantity_2" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_3" id="ingredient_3" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_3" id="quantity_3" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_4" id="ingredient_4" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_4" id="quantity_4" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_5" id="ingredient_5" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_5" id="quantity_5" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_6" id="ingredient_6" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_6" id="quantity_6" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_7" id="ingredient_7" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_7" id="quantity_7" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_8" id="ingredient_8" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_8" id="quantity_8" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_9" id="ingredient_9" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_9" id="quantity_9" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_10" id="ingredient_10" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_10" id="quantity_10" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_11" id="ingredient_11" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_11" id="quantity_11" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_12" id="ingredient_12" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_12" id="quantity_12" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_13" id="ingredient_13" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_13" id="quantity_13" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_14" id="ingredient_14" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_14" id="quantity_14" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <select name="ingredient_15" id="ingredient_15" class="w-[400px]" data-ingredient>
            <option value="" selected disabled>Choose here</option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }} || {{ ingredient.category }}</option>
            {% endfor %}
        </select>
        <input type="text" name="quantity_15" id="quantity_15" placeholder="Qty" class="w-[80px] mb-2" data-qantity>

        <button class="primary-btn">SUBMIT</button>
    </form>
</div>


<script src="{% static 'dist/menu.bundle.js.gz' %}"></script>


{% endblock content %}