{% extends 'base.html' %}
{% load static %}

{% block page_title %} Menu | CheckMalt {% endblock page_title %}

{% block content %}

<!-- Product details modal -->
{% if messages %}
    {% for message in messages %}
        {% if message.extra_tags == 'product_modal' %}
            <div id="productModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-full modal-bg">
                <div class="relative p-4 w-full max-w-md h-auto top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
                    <!-- Modal content -->
                    <div class="relative bg-contrastColor rounded-lg shadow border-4 border-primaryColor">
                        <!-- Modal header -->
                        <div class="flex justify-end p-2">
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-productModal-toggle>
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-6 pt-0 flex flex-row justify-between items-center">
                            <div class="w-[70%] max-w-[70%]">
                                <h3 class="mb-4 text-3xl font-bold text-secondaryColor font-barlow">{{ message.message.name }}</h3>
                                <p class="mb-4 text-xl font-extralight italic text-primaryColor font-barlow">{{ message.message.description }}</p>
                            </div>
                            <img src="{{ message.message.image.url }}" alt="chess icon" class="mx-auto max-w-[30%] w-[30%] h-fit">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Background image -->
<div id="menuBackground" class="w-full h-[100vh] fixed z-[-100]"></div>

<!-- Main header -->
<div class="h-[100vh] w-full relative overflow-x-hidden" id="menuHeaderContainer">
	<h1 class="top-[-5%] left-[50%] text-8xl font-barlow font-extrabold text-secondaryColor absolute translate-x-[-50%] translate-y-[-50%] z-0 text-center" id="menuTitle">OUR MENU</h1>
    <div class="w-full flex flex-row justify-center max-w-full pt-[100px] z-30 absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%]">
        <img src="{% static 'menu/images/knight.png' %}" alt="Chess Knight Illustration" class="w-[40%] scale-x-[-1] z-50 max-w-[300px]" id="chessIllustrationHeader1">
        <img src="{% static 'menu/images/knight.png' %}" alt="Chess Knight Illustration" class="w-[40%] z-50 max-w-[300px]" id="chessIllustrationHeader2">
    </div>
    <div class="absolute bottom-8 left-[50%] translate-x-[-50%] text-center w-full container z-50">
        <span class="text-secondaryColor text-lg">Scroll down</span>
    </div>
</div>


<!-- Menu container -->
<div class="max-w-screen-md mx-auto w-full mt-[100px]">
    <!-- Load each menu's category -->
    {% for category in categories %}
        <h2 class="text-5xl text-primaryColor mb-4 font-barlow font-extrabold text-center" id="{{ category.name }}SectionTitle" data-sectiontitle>{{ category.friendly_name|upper }}</h2>
        <div class="flex flex-row mb-20 items-center relative md:static md:justify-between justify-start overflow-x-hidden md:overflow-x-visible">
            <div class=":w-[70%]  border-l-4 border-secondaryColor px-4 h-full max-h-full z-30 md:z-0" id="{{ category.name }}Section" data-sectioncontent>
        
                <!-- Check if the category has a sub_category -->
                {% if category.sub_categories.all %}
                    <!-- load the cocktails inside the category that do NOT have any sub_category -->
                    {% for cocktail in cocktails %}
                        {% if cocktail.category.name == category.name and cocktail.sub_category == none %}
                            <div class="flex flex-row md:justify-start justify-between text-primaryColor font-barlow font-normal text-xl w-full">
                                <a href="{% url 'menu' product_id=cocktail.id %}" data-product-link>
                                    <span class="mr-4 hover:text-secondaryHoverDarker">{{ cocktail.friendly_name }}</span>
                                </a>
                                <span class="ml-auto md:mr-20 mr-0">£{{ cocktail.price }}</span>
                            </div>  
                        {% endif %}
                    {% endfor %}

                    <!-- Load each sub_categories in the category -->
                    {% for sub_category in category.sub_categories.all %}
                        <h3 class="text-2xl text-secondaryColor mb-2 font-barlow font-bold mt-4"><i class="fa-solid fa-circle-dot text-lg align-middle mr-2"></i>{{ sub_category.friendly_name|upper }}</h3>
                        <!-- load the cocktails inside the category and inside the sub_category -->
                        {% for cocktail in cocktails %}
                            {% if cocktail.category.name == category.name and cocktail.sub_category.name == sub_category.name %}
                                <div class="flex flex-row md:justify-start justify-between text-primaryColor font-barlow font-normal text-xl w-full">
                                    <a href="{% url 'menu' product_id=cocktail.id %}" data-product-link>
                                        <span class="mr-4 hover:text-secondaryHoverDarker">{{ cocktail.friendly_name }}</span>
                                    </a>
                                    <span class="ml-auto md:mr-20 mr-0">£{{ cocktail.price }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <!-- Load the cocktail if the category does NOT have any sub_categories -->
                    {% for cocktail in cocktails %}
                        {% if cocktail.category.name == category.name %}                                
                            <div class="flex flex-row md:justify-start justify-between text-primaryColor font-barlow font-normal text-xl w-full">
                                <a href="{% url 'menu' product_id=cocktail.id %}" data-product-link>
                                    <span class="mr-4 hover:text-secondaryHoverDarker">{{ cocktail.friendly_name }}</span>
                                </a>
                                <span class="ml-auto md:mr-20 mr-0">£{{ cocktail.price }}</span>
                            </div>                                                            
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
            <!-- Illustration for each categories -->
            <div class="md:max-w-[30%] w-full max-h-full h-full md:static absolute right-4" id="{{category.name}}SectionIllustration" data-sectionimage>
                <img src="{% static 'menu/images/menu/' %}{{ category.name }}.png" alt="Cocktail Illustration" class="ml-auto h-full max-h-full opacity-50 md:opacity-1">
            </div>
        </div>
    {% endfor %}
</div>


<script src="{% static 'dist/menu.bundle.js.gz' %}"></script>


{% endblock content %}