{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Sign Out" %}{% endblock page_title %}

{% block content %}


<div class="max-w-screen-md mx-auto w-full pt-[100px] min-h-[100vh]">
	<div
		class="mb-12 text-primaryColor md:border-2 border-primaryColor rounded-md max-w-screen-sm mx-auto px-2 py-4 w-full  md:static">

		<div class="text-white">
			<h1 class="mb-2 text-3xl text-center font-bold text-secondaryHoverDarker font-barlow" id="itemTitle">
				{% trans "Sign Out" %}</h1>
			<p class="text-center font-barlow font-normal text-base text-primaryColor w-[70%] mb-8 mx-auto">
				{% trans 'Are you sure you want to sign out?' %}
			</p>

			<form method="post" action="{% url 'account_logout' %}" class="login text-center w-[40%] mx-auto signup">
				{% csrf_token %}
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<button type="submit" class="text-white block bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">{% trans 'Sign Out' %}</button>
			</form>
		</div>

	</div>
</div>


{% endblock %}