{% extends "base.html" %}

{% load i18n %}

{% block page_title %}Set Password | CheckMalt{% endblock page_title%}

{% block content %}
{% include 'profiles/header.html' %}

<!-- Main container -->
<div class="max-w-screen-lg mx-auto w-full md:mt-12 mb-12 min-h-[100vh] px-2 md:px-0">
    <!-- Account header -->
    <div class="md:max-w-[70%]">
        <h1 class="text-primaryColor font-barlow font-semibold text-3xl mb-4" >Set a Password</h1>
        <p class="text-primaryColor font-barlow font-normal text-lg">
            There is no password link to this account. You must set up a password first.
        </p>
    </div>
    <form action="{% url 'account_set_password' %}" method="POST" class="mx-auto w-full">
        {% csrf_token %}
        <div class="flex md:flex-row flex-col gap-8 md:gap-0 justify-between md:mt-12 mt-8 w-full">
            <!-- user's first name -->
            <div class="relative md:w-[45%] w-full">
                {{form.password1}}
                <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">Password *</span>
                {% for error in form.password1.errors %}
                    <p class="input-errors">{{error}}</p>
                {% endfor %}
            </div>
            <!-- user's last name -->
            <div class="relative md:w-[45%] w-full">
                {{form.password2}}
                <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">Confirm Password *</span>
                {% for error in form.password2.errors %}
                    <p class="input-errors">{{error}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="flex md:flex-row flex-col gap-8 md:gap-0 justify-between md:mt-12 mt-8">
            <div class="relative md:w-[45%] w-full">
                <!-- Update password btn -->
                <button type="submit" class="text-white hidden md:block bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-lg w-full py-2.5 text-center">Set Password</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

