{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block page_title %}Password | CheckMalt{% endblock page_title%}

{% block content %}
<div class="max-w-screen-md mx-auto w-full pt-[100px] min-h-[100vh]">
	<div class="mb-12 text-primaryColor md:border-2 border-primaryColor rounded-md max-w-screen-sm mx-auto px-2 py-4 w-full">
		<h1 class="text-3xl text-center font-bold text-secondaryHoverDarker font-barlow mb-8" id="itemTitle">Update Password</h1>

        <form method="POST" action="{% url 'password' %}" class="password_change">
            {% csrf_token %}
            <div class="relative md:w-[45%] w-full mb-8 mx-auto">
                {{form.oldpassword}}
                <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">Current Password *</span>
                {% for error in form.oldpassword.errors %}
                    <p class="input-errors">{{error}}</p>
                {% endfor %}
            </div>
            <div class="relative md:w-[45%] w-full mb-8 mx-auto">
                {{form.password1}}
                <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">New Password *</span>
                {% for error in form.password1.errors %}
                    <p class="input-errors">{{error}}</p>
                {% endfor %}
            </div>
            <div class="relative md:w-[45%] w-full mx-auto">
                {{form.password2}}
                <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">Confirm New Password *</span>
                {% for error in form.password2.errors %}
                    <p class="input-errors">{{error}}</p>
                {% endfor %}
            </div>
            <button type="submit" class="text-white max-w-[45%] bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-lg w-full py-2.5 text-center mx-auto mt-8 block">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}
