{% extends "base.html" %}

{% load i18n %}
{% block page_title %}Password Reset | CheckMalt{% endblock page_title%}

{% block content %}
<div class="max-w-screen-md mx-auto w-full pt-[100px] min-h-[100vh]">
	<div class="mb-12 text-primaryColor md:border-2 border-primaryColor rounded-md max-w-screen-sm mx-auto px-2 py-4 w-full">
        <h1 class="mb-2 text-3xl text-center font-bold text-secondaryHoverDarker font-barlow">{% trans "Change Password" %}</h1>
        <p class="text-center font-barlow font-normal text-base text-primaryColor w-[70%] mb-8 mx-auto">{% trans 'Your password is now changed.' %}</p>
        <a href="{% url 'account_login' %}" class="text-white hidden md:block bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-lg w-full md:w-[40%] py-2.5 text-center mx-auto">Login</a>
    </div>
</div>
{% endblock %}

