{% extends "base.html" %}

{% load i18n %}
{% block page_title %}Password Reset | CheckMalt{% endblock page_title%}

{% block content %}
<div class="max-w-screen-md mx-auto w-full pt-[100px] min-h-[100vh]">
	<div class="mb-12 text-primaryColor md:border-2 border-primaryColor rounded-md max-w-screen-sm mx-auto px-2 py-4 w-full">
        <h1 class="mb-2 text-3xl text-center font-bold text-secondaryHoverDarker font-barlow">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="text-center font-barlow font-normal text-base text-primaryColor w-[70%] mb-8 mx-auto">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="text-blue-500">New Password Reset</a>.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}" class="login text-center md:w-[40%] w-[90%] mx-auto mt-8">
                {% csrf_token %}
                <div class="relative w-full mb-8">
                    <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1" aria-autocomplete="list" class="login-form-input rounded-sm w-full focus:border-secondaryHoverDarker focus:ring-0">
                    <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">New Password *</span>
                    {% for error in form.password1.errors %}
                        <p class="input-errors">{{error}}</p>
                    {% endfor %}
                </div>

                <div class="relative w-full">
                    <input type="password" name="password2" placeholder="Confirm New Password" autocomplete="new-password" required id="id_password2" aria-autocomplete="list" class="login-form-input rounded-sm w-full focus:border-secondaryHoverDarker focus:ring-0">
                    <span class="absolute text-primaryColor font-barlow font-light text-sm top-[-10px] left-[15px] px-2 bg-contrastColor">Confirm New Password *</span>
                    {% for error in form.password2.errors %}
                        <p class="input-errors">{{error}}</p>
                    {% endfor %}
                </div>

                <button type="submit" class="text-white block mt-8 bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm w-full px-5 py-2.5 text-center">Change Password</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
