{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% block page_title %}Password Reset | CheckMalt{% endblock page_title%}

{% block content %}
<div class="max-w-screen-md mx-auto w-full pt-[100px] min-h-[100vh]">
	<div class="mb-12 text-primaryColor md:border-2 border-primaryColor rounded-md max-w-screen-sm mx-auto px-2 py-4 w-full">
        <h1  class="mb-2 text-3xl text-center font-bold text-secondaryHoverDarker font-barlow">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-center font-barlow font-normal text-base text-primaryColor w-[70%] mb-8 mx-auto">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

    </div>
</div>
{% endblock %}
