{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% block page_title %}Password Reset | CheckMalt{% endblock page_title%}

{% block content %}
<div class="max-w-screen-md mx-auto w-full pt-[100px] min-h-[100vh]">
	<div class="mb-12 text-primaryColor md:border-2 border-primaryColor rounded-md max-w-screen-sm mx-auto px-2 py-4 w-full">
        <h1  class="mb-2 text-3xl text-center font-bold text-secondaryHoverDarker font-barlow">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-center font-barlow font-normal text-base text-primaryColor w-[70%] mb-8 mx-auto">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="login text-center md:w-[40%] w-[90%] mx-auto">
            {% csrf_token %}
            <div class="relative w-full">
                <input type="email" name="email" placeholder="Email Address" class="login-form-input rounded-sm w-full focus:border-secondaryHoverDarker focus:ring-0" required id="id_email">
                <div class="mb-4">
					{% for error in form.email.errors %}
						<p class="input-errors">{{error}}</p>
					{% endfor %}
				</div>
            </div>
            <button type="submit" class="text-white block bg-secondaryHoverDarker hover:bg-secondaryColor focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm w-full px-5 py-2.5 text-center">Reset My Password</button>
        </form>

        <p class="text-center font-barlow font-normal text-base text-primaryColor w-[70%] mt-8 mx-auto">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
