{% extends 'base.html' %}
{% load static %}

{% block page_title %} Menu | CheckMalt {% endblock page_title %}

{% block content %}

{% include 'order/includes/item_modal.html' %}


{% csrf_token %}


<!-- Alert modal if bar is closed -->
<div class="pt-[70px]">
    {% if not open %}
        <div class="max-w-screen-md mx-auto w-full bg-red-300 py-4 md:rounded-md fixed top-[70px] left-[50%] translate-x-[-50%]">
            <p class="text-red-900 font-barlow text-lg text-center font-medium">
                Oups! We are not taking orders at the moment.
            </p>
        </div>
    {% endif %}
</div>

<!-- Header -->
<div class="max-w-screen-md mx-auto w-full mt-12 px-2" id="orderHeader">
    <h1 class="text-secondaryColor font-barlow font-bold text-4xl text-left">MENU</h1>
    <p class="text-primaryColor font-barlow font-normal text-lg text-left mt-2">
        At CheckMalt all of our Cocktails are hand-made by the best bartenders in the industry. 
    </p>
    <div class="flex flex-row justify-between items-center mt-4">
        <!-- Menu category -->
        <select id="category_select_input" class="primary-select-input w-full md:max-w-[200px] mt-2 text-lg">
            {% for category in categories %}
                {% if selected == category.id %}
                    <option selected value="{{ category.id }}">{{ category|title }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category|title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if product_count and product_count > 0 %}
            <a href="{% url 'basket' %}" class="md:flex-row md:flex hidden justify-around items-center h-full text-primaryColor font-barlow text-lg hover:bg-secondaryHoverLighter cursor-pointer transition-all bg-secondaryColor py-1 px-2 rounded-lg">
                <div class="font-semibold text-center bg-secondaryHoverDarker px-2 py-1 rounded-lg">
                    <span>{{ product_count }}</span>
                </div>
                <p class="text-center font-semibold mx-4">View Basket</p>
                <span class="text-center font-semibold">£{{ total|floatformat }}</span>
            </a>
        {% endif %}
    </div>
</div>

<!-- Order container -->
<div class="max-w-screen-md mx-auto w-full mt-8 mb-24 px-2 md:px-0">
    <!-- Check if the category has a sub_category -->
    {% if sub_categories %}
        <!-- Load each sub_categories -->
        {% for sub_category in sub_categories %}
            <h3 class="text-2xl text-secondaryColor mb-6 font-barlow font-bold mt-12"><i class="fa-solid fa-circle-dot text-lg align-middle mr-2"></i>{{ sub_category.friendly_name|upper }}</h3>
            <!-- load the cocktails inside the sub_category -->
            <div class="flex flex-row w-full gap-8 flex-wrap justify-evenly">
                {% for cocktail in cocktails %}
                    {% if cocktail.sub_category.name == sub_category.name %}
                        {% include 'order/includes/individual_item.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <!-- Load the cocktail if the category does NOT have any sub_categories -->
        <div class="flex flex-row w-full gap-8 flex-wrap justify-evenly">
            {% for cocktail in cocktails %}                           
                {% include 'order/includes/individual_item.html' %}                                      
            {% endfor %}
        </div>
    {% endif %}
</div>

<script src="{% static 'dist/order.bundle.js.gz' %}"></script>

{% endblock content %}