{% extends 'base.html' %}
{% load static %}
{% block page_title %} Order | CheckMalt {% endblock page_title %}
{% block content %}

{% csrf_token %}

<!-- Alert modal if bar is closed -->
<div class="pt-[70px]">
    {% if not open %}
        <div class="max-w-screen-md mx-auto w-full bg-red-300 py-4 md:rounded-md fixed top-[70px] left-[50%] translate-x-[-50%]">
            <p class="text-red-900 font-barlow text-lg text-center font-medium">
                Oups! We are not taking orders at the moment.
            </p>
        </div>
    {% endif %}
</div>

<div class="max-w-screen-lg mx-auto w-full md:mt-12 mb-12 flex md:flex-row flex-col min-h-[100vh]">

    <div class="md:w-[20%] hidden md:block">
        {% for category in categories %}
            {% if selected == category.id %}
            <a href="?category={{ category.id }}" class="text-left block font-semibold font-barlow text-primaryColor w-full py-3 bg-secondaryColor border-l-8 border-secondaryHoverDarker pl-2 cursor-pointer">{{ category|upper }}</a>
            {% else %}
                <a href="?category={{ category.id }}" class="text-left block font-semibold font-barlow text-primaryColor w-full py-3 hover:bg-secondaryColor border-l-8 border-transparent pl-2 cursor-pointer">{{ category|upper }}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="md:w-[55%] pb-20 md:border-x-2 md:px-2 border-secondaryHoverDarker">
        <div class="max-w-full mx-auto w-full mb-4 md:mb-0" id="orderHeader">
            <h1 class="text-secondaryColor font-barlow font-semibold text-2xl text-center">Order Here</h1>
            <p class="text-primaryColor font-barlow font-normal text-base text-center mx-auto w-[80%] mt-2">
                At CheckMalt all of our Cocktails are hand-made by the best bartenders in the industry. 
            </p>
        </div>
        <select id="category_select_input" class="w-full md:hidden mt-2 md:text-lg text-3xl bg-secondaryHoverDarker font-semibold font-barlow text-primaryColor">
            {% for category in categories %}
                {% if selected == category.id %}
                    <option selected value="{{ category.id }}">{{ category|title }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category|title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <!-- Order container -->
        <div class="max-w-full mx-auto w-full mt-8">
            <!-- Check if the category has a sub_category -->
            {% if sub_categories %}
                <!-- Load each sub_categories -->
                {% for sub_category in sub_categories %}
                    <h3 id="subCategoryTitle{{sub_category.id}}" class="md:text-lg text-3xl pl-2 text-secondaryColor focus:bg-transparent hover:text-primaryColor cursor-pointer hover:bg-secondaryColor font-barlow font-semibold py-2 subCategoryCollapse"><i class="fa-solid fa-circle-dot text-base align-middle mr-2"></i>{{ sub_category.friendly_name|upper }}</h3>
                    <!-- load the cocktails inside the sub_category -->
                    <div class="w-full hidden">
                        {% for cocktail in cocktails %}
                            {% if cocktail.sub_category.name == sub_category.name %}
                                {% include 'order/includes/individual_item.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <!-- Load the cocktail if the category does NOT have any sub_categories -->
                <div class="w-full">
                    {% for cocktail in cocktails %}                           
                        {% include 'order/includes/individual_item.html' %}                                      
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% include 'basket/basket.html' %}
    
</div>

<script src="{% static 'dist/order.bundle.js.gz' %}"></script>


{% endblock content %}