{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0" />
    <link rel="stylesheet" href="{% static 'dist/bundle.css.gz' %}">

    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/0fd6fa10db.js" crossorigin="anonymous"></script>

    <title>
        {% block page_title %}
        {% endblock page_title %}
    </title>
</head>

<body>

    <!-- Loader Icon -->
    <div id="loader" class="bg-contrastColor w-[100vw] h-[100vh] z-[1000] mx-auto fixed">
        <img src="{% static 'media/loader.gif' %}" alt="loader"
            class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
    </div>

    <!-- Navbar -->
    {% include 'includes/navbar.html' %}

    <!-- Item modal -->
    {% include 'order/includes/item_modal.html' %}

    <!-- Login modal -->
    {% include 'includes/login_modal.html' %}

    <!-- Basket modal on mobile -->
    <div class="md:hidden">
        {% include 'basket/basket.html' %}
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.extra_tags == 'alert' %}
                <div id="alert-1" class="bg-{{message.level_tag}} z-[10000]" role="alert" data-alertbox>
                    <svg class="flex-shrink-0 w-5 h-5 text-{{message.level_tag}}" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <div class="ml-3 text-sm font-medium text-{{message.level_tag}}">
                        {{message}}
                    </div>
                    <button type="button"
                        class="ml-auto -my-1.5 rounded-lg inline-flex h-8 w-8 btn-{{message.level_tag}} items-center"
                        data-dismiss-target="#alert-1" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-5 h-5 mx-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}




    {% block content %}
    {% endblock content %}

    {% include 'includes/footer.html' %}

    {% block corejs %}
        <script src="{% static 'dist/main.bundle.js.gz' %}"></script>
    {% endblock corejs %}


    {% block extrajs %}
    {% endblock extrajs %}


</body>

</html>