<div data-toggle-modal data-order-item-modal="{{ cocktail.id }}" class="w-full py-4 px-2 mr-auto border-b-2 border-primaryColor transition-all flex flex-col justify-start bg-black rounded cursor-pointer hover:border-b-2 text-primaryColor hover:bg-[#2a2a2a]">
    <div class="flex flex-row md:justify-start justify-between font-barlow font-normal md:text-base text-lg w-full items-center">
        <span class="">{{ cocktail.friendly_name }}</span>
        <span data-price-item class="ml-auto text-lg md:text-base">£{{ cocktail.price|floatformat:2 }}</span>
    </div>
    <p class="md:text-xs text-sm text-gray-300 italic font-barlow font-thin mb-2 md:max-w-[70%] w-full">{{ cocktail.description }}</p>
</div>