{% load static %}
{% load order_tool %}
<!-- The Item Modal -->
<div id="itemModal" class="hidden fixed z-[1000] left-0 top-0 w-full h-full overflow-auto item-modal max-h-[100vh]">
    <!-- Modal content -->
    <div id="itemModalContainer" class="bg-black md:border-2 md:border-secondaryHoverDarker rounded p-3 w-full md:max-w-[600px] min-h-[200px] h-[100vh] md:h-auto absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-primaryColor max-h-[100vh]">
        <!-- Modal loader icon -->
        <img src="{% static 'media/loader.gif' %}" alt="loader" id="itemModelLoader" class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-10 max-h-full">

        <!-- Modal body container -->
        <div class="hidden" id="itemModaBodyContainer">
            <!--Close modal icon -->
            <div class="flex justify-end pb-4">
                <button type="button" class="text-red-400 bg-transparent hover:text-red-900 rounded text-xl p-1.5 ml-auto inline-flex items-center" id="closeItemModal">
                    <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <!-- Modal body -->
            <div class="md:pb-2 pb-2 pt-0 text-center">
                <!-- Display on small screen -->
                <div class="block md:hidden">
                    <h3 class="mb-4 text-xl font-bold text-secondaryHoverDarker font-barlow" id="itemTitle">
                        {% if cocktail %}
                            {{ cocktail.friendly_name|upper }}
                        {% elif response %}
                            {{ response.cocktail.friendly_name|upper }}
                        {% endif %}
                    </h3>
                    <img src="{% if cocktail %}{{ cocktail.image.url }}{% elif response %}{{ response.cocktail.image.url }}{% endif %}" alt="drink image" class="max-w-[130px] max-h-[130px] xxs:inline-block hidden mx-auto rounded mb-2">
                    <div class="w-full">
                        <p class="text-sm font-barlow font-light italic text-primaryColor max-w-[100%] w-full text-center mx-auto">
                            {% if cocktail %}
                                {{ cocktail.description }}
                            {% elif response %}
                                {{ response.cocktail.description }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <!-- Display on largr screen -->
                <div class="hidden md:flex flex-row justify-between mb-8">
                    <div class="mr-4 h-full w-[70%]">
                        <h3 class="mb-2 text-2xl font-bold text-secondaryHoverDarker font-barlow" id="itemTitle">
                            {% if cocktail %}
                                {{ cocktail.friendly_name|upper }}
                            {% elif response %}
                                {{ response.cocktail.friendly_name|upper }}
                            {% endif %}
                        </h3>
                        <div>
                            <p class="text-sm mb-2 font-barlow font-light italic text-primaryColor text-center mx-auto">
                                {% if cocktail %}
                                    {{ cocktail.description }}
                                {% elif response %}
                                    {{ response.cocktail.description }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <img src="{% if cocktail %}{{ cocktail.image.url }}{% elif response %}{{ response.cocktail.image.url }}{% endif %}" alt="chess icon" class="max-w-[150px] max-h-[150px] mx-auto rounded">
                </div>

                <!-- Add to basket form -->
                {% if cocktail %}
                    <form action="{% url 'add_to_basket' cocktail.id %}" method="POST">
                {% elif response %}
                    <form action="{% url 'update_basket' response.cocktail.id %}" method="POST">
                        <input type="hidden" name="original_qty" value="{{response.qty}}">
                        {% if response.size %}<input type="hidden" name="original_size" value="{{response.size}}">{% endif %}
                        {% if response.note %}<input type="hidden" name="original_note" value="{{response.note}}">{% endif %}
                {% endif %}
                        {% csrf_token %}
                        {% if match %}
                            <input type="hidden" name="redirect_url" class="p-2 text-black" value="match_result">
                        {% else %}
                            {% if response %}
                                <input type="hidden" name="redirect_url" class="p-2 text-black" value="{{ response.cocktail.category.id }}">
                            {% else %}
                                <input type="hidden" name="redirect_url" class="p-2 text-black" value="{{ cocktail.category.id }}">
                            {% endif %}
                        {% endif %}
                        <!--Special note input -->
                        <div>
                            <div class="mt-6 md:mt-2 mb-4 md:mb-2">
                                <p class="text-white font-barlow font-medium md:text-base text-sm text-left">Special requests?</p>
                                <hr class="border-white my-2">
                                {% if not response.note %}
                                    <p id="requestBtn" class="text-secondaryColor font-barlow font-medium md:text-base text-xs text-left hover:text-secondaryHoverDarker cursor-pointer"><i class="fa-solid fa-plus"></i> Add them here. We'll do our best to make it happen</p>
                                {% endif %}
                            </div>
                            
                            <div class="relative max-h-[80px] h-[80px] w-full mx-auto my-4 {% if not response.note %} hidden {% endif %}" id="requestTextAreaContainer">
                                <div class="flex absolute inset-y-0 right-2 items-end bottom-2 pointer-events-none">
                                    <span id="noteCharCompter" class="text-primaryColor text-sm font-barlow font-medium px-1 py-[2px] bg-secondaryHoverDarker rounded-full">80</span>
                                </div>
                                {% if response.note %}
                                    <textarea id="cocktail_note" name="cocktail_note" maxlength="80" class="h-full w-full resize-none bg-contrastColor text-primaryColor rounded focus:border-secondaryColor border-2 border-secondaryColor" placeholder="Add a special note here...">{{ response.note }}</textarea>
                                {% else %}
                                    <textarea id="cocktail_note" name="cocktail_note" maxlength="80" class="h-full w-full resize-none bg-contrastColor text-primaryColor rounded focus:border-secondaryColor border-2 border-secondaryColor" placeholder="Add a special note here..."></textarea>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mx-auto mt-4 flex flex-col md:gap-3 gap-5">
                            <!-- Item Size -->
                            {% if cocktail.has_size %}
                                <div class="w-full flex flex-row justify-between items-center">
                                    <span class="text-primaryColor text-xl font-barlow font-medium">Size</span>
                                    <select name="cocktail_size" data-size-option data-order-item-modal="{%if cocktail%}{{ cocktail.id }}{% else %}{{ response.cocktail.id }}{%endif%}" class="border-0 rounded max-w-[150px] bg-contrastColor text-primaryColor text-lg w-full focus:ring-0  cursor-pointer p-0">
                                        {% for size in cocktail.sizes.all %}
                                            <option value="{{size}}">{{ size.get_sizes_display|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if cocktail.category.name == 'spirits' and not response %}
                                    <div class="w-full flex flex-row justify-between items-center">
                                        <span class="text-primaryColor text-xl font-barlow font-medium">Mixer</span>
                                        <select name="cocktail_mixer" data-mixer-option data-order-item-modal="{%if cocktail%}{{ cocktail.id }}{% else %}{{ response.cocktail.id }}{%endif%}" class="border-0 rounded max-w-[150px] bg-contrastColor text-primaryColor text-lg w-full focus:ring-0 cursor-pointer p-0">
                                                <option value="">No Mixer</option>
                                            {% for soft in cocktails|soft_drinks %}
                                                <option value="{{soft.id}}">{{ soft.friendly_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            {% elif response.size %}
                                <div class="w-full flex flex-row justify-between items-center">
                                    <span class="text-primaryColor text-xl font-barlow font-medium">Size</span>
                                    <select name="cocktail_size" data-size-option data-order-item-modal="{%if cocktail%}{{ cocktail.id }}{% else %}{{ response.cocktail.id }}{%endif%}" class="border-0 rounded max-w-[150px] bg-contrastColor text-primaryColor text-lg w-full focus:ring-0 cursor-pointer p-0">
                                        {% for response_size in response.cocktail.sizes.all %}
                                            {% if response_size.sizes == response.size %}
                                                <option selected value="{{response_size}}">{{ response_size.get_sizes_display|title }}</option>
                                            {% else %}
                                                <option value="{{response_size}}">{{ response_size.get_sizes_display|title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <!-- Item Quantity -->
                            <div class="w-full flex flex-row justify-between items-center">
                                <span class="text-primaryColor text-xl font-barlow font-medium">Quantity</span>
                                <select id="formItemQty" name="cocktail_quantity" data-qty-item data-order-item-modal="{%if cocktail%}{{ cocktail.id }}{% else %}{{ response.cocktail.id }}{%endif%}" class="hidden">
                                        <option {% if response.qty == 1 %}selected{% endif %} value="1">1</option>
                                        <option {% if response.qty == 2 %}selected{% endif %} value="2">2</option>
                                        <option {% if response.qty == 3 %}selected{% endif %} value="3">3</option>
                                        <option {% if response.qty == 4 %}selected{% endif %} value="4">4</option>
                                        <option {% if response.qty == 5 %}selected{% endif %} value="5">5</option>
                                        <option {% if response.qty == 6 %}selected{% endif %} value="6">6</option>
                                        <option {% if response.qty == 7 %}selected{% endif %} value="7">7</option>
                                        <option {% if response.qty == 8 %}selected{% endif %} value="8">8</option>
                                        <option {% if response.qty == 9 %}selected{% endif %} value="9">9</option>
                                        <option {% if response.qty == 10 %}selected{% endif %} value="10">10</option>
                                </select>
                                <div class="font-barlow font-medium text-xl flex flex-row justify-between items-center min-w-[150px] max-w-[150px]">
                                    <i id="minusQty" class="fa-solid fa-circle-minus hover:text-secondaryHoverDarker cursor-pointer"></i>
                                    <span id="modalQty">{% if response.qty %} {{response.qty}} {% else %}1{% endif %}</span>
                                    <i id="plusQty" class="fa-solid fa-circle-plus hover:text-secondaryHoverDarker cursor-pointer mr-[15px]"></i>
                                </div>
                            </div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <span class="text-primaryColor text-xl font-barlow font-medium">Price</span>
                                <p data-price-item class="text-xl font-barlow font-bold mt-2 text-primaryColor min-w-[150px] max-w-[150px] text-center">
                                    {% if cocktail %}
                                        £{{ cocktail.price|floatformat:2 }}
                                    {% elif response %}
                                        £{{ response.price|floatformat:2 }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        
                        
                        <!-- Submit button -->
                        <button type="submit" class="border-2 rounded border-secondaryColor bg-secondaryColor px-2 py-1 w-full text-xl font-bold font-barlow hover:border-secondaryHoverDarker hover:bg-secondaryHoverDarker hover:text-white cursor-pointer text-black transition-all duration-300 mt-8">
                            {% if cocktail %}
                            <i class="fa-solid fa-plus"></i> ADD TO MY ORDER
                            {% else %}
                                UPDATE MY ORDER
                            {% endif %}
                        </button>
                    </form>
            </div>
        </div>
    </div>
</div>